$spacing-l: 32px;
$spacing-ml: 30px;
$spacing-m: 24px;
$spacing-s: 20px;
$spacing-xs: 10px;

//colors

$grey: #f1f1f1;
$black: #111111;
$active: #000000;
$white: #ffffff;
$color-primary: #01a7fd;

//radius

$radius: 6px;
$radius-xl: 100px;

//media
$full-width: 1920;

$desktop-xl: 1600;
$desktop-lg: 1399;
$tablet-lg: 1199;
$tablet: 1023;
$mobile: 767;
$mobile-sm: 575;

$min-width: 280px;
$max-width: 1520px;

$padding-desktop: 40px;
$padding-tablet-lg: 34px;
$padding-mobile: 16px;
